################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Juego2021/.vs
/Juego2021/Juego.Api/obj/Debug
/Juego2021/Juego.Core.Web/obj/Debug
